.applications {
  margin-top: 130px;
  width: 100%;
}

.applications .applications_block {
  margin-top: 30px;
  width: 100%;
  border-radius: 20px;
  padding: 20px;
  background: var(--gray_ww);
}

.applications .applications_block_head {
  width: 100%;
  border-radius: 14px;
  padding: 40px 30px;
  background: var(--white);
  display: flex;
  justify-content: space-between;
}

.applications .input_form {
  max-width: 110px;
}

.applications .applications_block_body {
  margin-top: 12px;
  width: 100%;
  border-radius: 14px;
  padding: 20px;
  background: var(--white);
}

.applications .div_auth {
  width: 100%;
  min-height: 290px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 48px;
}

.applications .div_auth .text {
  width: 50%;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #969696;
}

.applications .button_form {
  width: auto;
}

.applications .title {
  font-size: 24px;
  font-weight: 500;
  color: var(--black);
}

.applications .btn.up {
  color: var(--blue);
  background: transparent;
}

.applications .flex {
  display: flex;
  align-items: center;
  gap: 10px;
}

.applications .flex a {
  text-decoration: none;
}

.applications .button_form.login {
  color: var(--blue);
  font-weight: 500;
  background: white;
  box-shadow: none;
}

.applications .input_block {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  color: var(--gray);
}

.applications .link {
  font-weight: 500;
  color: var(--blue);
}

.applications .offers {
  margin-top: 30px;
  width: 100%;
}

.applications .offer,
.applications .offer_block {
  display: grid;
  grid-template-columns: 2fr 0.8fr 1fr 0.8fr 0.8fr 1fr;
  align-items: center;
}

.applications .offer {
  padding: 14px 24px;
  border-bottom: 1px solid #cacaca;
}

.applications .offer_text {
  font-size: 12px;
  font-weight: 600;
  color: var(--gray);
}

.applications .offer_blocks {
  margin-top: 10px;
  width: 100%;
  padding: 12px;
  background: var(--gray_ww);
  border-radius: 14px;
}

.applications .offer_block {
  padding: 18px 10px;
  border-radius: 10px;
  background: #fff;
}

.applications .offer_block_text {
  font-size: 16px;
  font-weight: 400;
  color: var(--black_w);
}

.applications .offer_block_title {
  font-size: 16px;
  font-weight: 500;
  color: var(--blue);
  text-decoration: underline;
}

.applications .offer_block_time {
  font-size: 14px;
  font-weight: 400;
  color: var(--blue);
}

.applications .offer_block_btn {
  color: var(--blue);
  border: 1px solid var(--blue);
  background: transparent;
}

.applications .user {
  width: 44px;
  height: 44px;
  background: 50%;
  object-fit: cover;
  object-position: center;
}
